
<div class="mt-0" style="width: 30%; margin-left: auto; margin-right: auto">
  <div class="hero-content flex-col">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Reset Password</h1>
      <p class="pt-2 pb-1">Enter username and email to reset your password.</p>
    </div>
    <div class="card w-full shadow-2xl bg-base-100 card-body pt-2 px-4">

      <div class="form-control border-0">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          [disabled]="true"
          type="text"
          [(ngModel)]="username"
          class="input input-bordered"
        />
      </div>

      <div class="form-control border-0">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          [disabled]="true"
          type="email"
          [(ngModel)]="email"
          class="input input-bordered"
        />
      </div>

      <form [formGroup]="resetPasswordEditForm" (ngSubmit)="onSubmit()">

        <div class="form-control border-0">
          <label class="label">
            <span class="label-text">New Password</span>
          </label>
          <input type="text" formControlName="newPassword" placeholder="Enter new password" class="input input-bordered" />
          @if (resetPasswordEditForm.get('newPassword')?.hasError('required') && resetPasswordEditForm.get('newPassword')?.touched) {
            <small class="text-red-500">Password is required</small>
          }
        </div>

        <div class="form-control border-0">
          <label class="label">
            <span class="label-text">Confirm Password</span>
          </label>
          <input type="text" formControlName="confirmPassword" placeholder="Confirm password" class="input input-bordered" />
          @if (resetPasswordEditForm.get('confirmPassword')?.hasError('required') && resetPasswordEditForm.get('confirmPassword')?.touched) {
            <small class="text-red-500">Confirm password is required</small>
          }
          @if (resetPasswordEditForm.get('confirmPassword')?.hasError('mismatch') && resetPasswordEditForm.get('confirmPassword')?.touched) {
            <small class="text-red-500">Passwords do not match</small>
          }
        </div>

        <div class="form-control mt-6 border-0">
          <button [disabled]="resetPasswordEditForm.invalid" type="submit" class="btn btn-primary">Reset Password</button>
        </div>
      </form>

    </div>
  </div>
</div>

