
<div class="card lg:card-side bg-base-100 shadow-xl max-w-2xl mx-auto mt-10">
  <figure class="lg:w-1/2">
    <img src="https://picsum.photos/seed/login/800/600" alt="Random image" class="object-cover w-full h-full" />
    <!--<img src="./asset/image/login.png" alt="Random image" />-->
  </figure>
  <div class="card-body lg:w-2/3">
    <h2 class="card-title text-2xl font-bold mb-6">Login</h2>
    <form>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input name="username" [(ngModel)]="username" type="text" class="grow" placeholder="Tahmid" />
        </label>
      </div>
      <div class="form-control mt-4">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <i class="fas fa-key"></i>
          <input name="password" [(ngModel)]="password" [type]="passwordType" class="grow" placeholder="Enter password" />
          <i class="fas" [ngClass]="passwordType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordType()"></i>
        </label>
        <label class="label">
          <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
        </label>
      </div>
      <div class="form-control mt-6">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </form>
    <div class="divider">OR</div>
    <div class="text-center">
      <p>Don't have an account?</p>
      <a routerLink="/register" class="link link-primary">Sign up now</a>
    </div>
  </div>
</div>
