<div class="w-100 mt-0">
  <nav class="d-flex justify-content-between px-5 py-2 w-75 m-auto mt-3">
    <div>Create new item</div>
    <div>
      <button
        class="btn btn-primary btn-sm"
        (click)="openCreateModal()"
      >
        Create
      </button>
    </div>
  </nav>
  <!--create a table for showing all the items-->

  <!--Show number of Total Elements-->
  <div class="m-auto w-75 mb-2 d-flex justify-content-between">
    <button class="text-sm-start mt-10 bg-accent rounded px-2">
      Total : {{ totalElements }}
    </button>

    <button class="btn btn-sm btn-ghost mt-10 border-accent">
      Show Stats
    </button>
  </div>

  <div class="overflow-auto mb-10 w-75 m-auto"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollUpDistance]="1.5"
       [infiniteScrollThrottle]="300"
       (scrolled)="onScroll()">

    <table class="table table-striped">
      <thead class="">
      <tr class="text-center text-lg">
        <th class="bg-info">Name</th>
        <th class="bg-info">Price</th>
        <th class="bg-info">Start Date</th>
        <th class="bg-info">End Date</th>
        <th class="bg-info">Days Used</th>
        <th class="bg-info">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (item of items; track item){
          <tr class="hover:bg-base-200 text-center mt-10">
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.createdDateTime | date }}</td>
            <td>{{ item.endDateTime? (item.endDateTime | date) : "-" }}</td>
            <td>{{ getTotalDaysUptoNow(item) }}</td>
            <td>
              <button class="btn btn-sm" (click)="openDetailsModal(item)">View</button>
              <button
                class="btn btn-sm bg-warning"
                (click)="openUpdateModal(item)"
                [disabled]="item.endDateTime != null"
              >
                Stop
              </button>
              <button
                class="btn btn-sm btn-error"
                (click)="openDeleteModal(item)"
              >
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="text-center py-4">
      <span class="loading loading-spinner"></span>Loading...
    </div>
  </div>


</div>

<!--Create Item Modal-->
<dialog id="create-item-modal" class="modal">
  <div class="modal-box">
    <!--get id from the editFrom-->
    @if (editForm.controls['id'].value) {
      <h2 class="text-lg font-bold text-center">Update Item</h2>
    } @else {
      <h2 class="text-lg font-bold text-center">Create a New Item</h2>
    }
    <form [formGroup]="editForm" (ngSubmit)="saveItem()">
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Name</span>
        </label>
        <!-- Bind the email input to the form control -->
        <input
          type="text"
          formControlName="name"
          class="input input-bordered col-8 focus:outline-none focus:ring-0"
        />
        <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
          <small class="text-red-500">Please enter a valid name.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Price</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="number"
          formControlName="price"
          class="input input-bordered col-8"
        />
        <div *ngIf="editForm.get('price')?.invalid && editForm.get('price')?.touched">
          <small class="text-red-500">Price is required.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Start Date</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="datetime-local"
          formControlName="createdDateTime"
          class="input input-bordered col-8"
        />
        <div *ngIf="editForm.get('createdDateTime')?.invalid && editForm.get('createdDateTime')?.touched">
          <small class="text-red-500">Date is required.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">End Date</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="datetime-local"
          formControlName="endDateTime"
          class="input input-bordered col-8"
        />
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Image</span>
        </label>
        <!-- Bind the username input to the form control -->
        <div class="col-8">
          <input type="file" formControlName="image" class="input-bordered form-control"/>
        </div>
        <div *ngIf="editForm.get('image')?.invalid && editForm.get('image')?.touched">
          <small class="text-red-500">Image is required.</small>
        </div>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn" [disabled]="editForm.invalid">Save</button>
        <button type="button" class="btn" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
</dialog>


<!-- DaisyUI Modal inside the same component -->
<dialog #detailsModal class="modal">
  <div class="modal-box">
    <h2 class="text-lg font-bold text-center">Item Details</h2>

    @if (selectedItem) {
      <div class="grid grid-cols-2 gap-3 mt-3">
        <label class="label"><span class="label-text">Name:</span></label>
        <span class="label-text">{{ selectedItem.name }}</span>

        <label class="label"><span class="label-text">Price:</span></label>
        <span class="label-text">{{ selectedItem.price }}</span>

        <label class="label"><span class="label-text">Created Date:</span></label>
        <span class="label-text">{{ selectedItem.createdDateTime | date }}</span>

        @if (selectedItem.endDateTime!=null){
          <label class="label"><span class="label-text">End Date:</span></label>
          <span class="label-text">{{ selectedItem.endDateTime | date }}</span>
        }

        <label class="label"><span class="label-text">Day Used</span></label>
        <span class="label-text">{{getTotalDaysUptoNow(selectedItem)}}</span>
      </div>
    }

    <div class="modal-action">
      <button type="button" class="btn" (click)="closeDetailsModal()">Close</button>
    </div>
  </div>
</dialog>
