@if (showStatsFlag){
  <div class="w-75 m-auto bg-emerald-100 mt-2 rounded-xl">
    <app-bar-chart
      [chartTitle]="'Items vs Day Count'"
      [categories]="itemList"
      [data]="dayCounts"
    >
    </app-bar-chart>
  </div>
}

<div class="w-100 mt-0">
  <!--create a table for showing all the items-->
  <div class="row w-75 m-auto bg-blue-200 rounded-xl p-3 mt-3">
    <!--FilterFromDate-->
    <div class=" gap-3 col-2 mb-2">
      <label class="label py-0">
        <span class="label-text">Start Date</span>
      </label>
      <input type="date" class="input input-bordered col-12 h-10" [(ngModel)]="filterFromDate" />
    </div>
    <div class=" gap-3 col-2 mb-2">
      <label class="label py-0">
        <span class="label-text">End Date</span>
      </label>
      <input type="date" class="input input-bordered col-12 h-10" [(ngModel)]="filterToDate" />
    </div>

    <div class=" gap-3 col-3 mb-2">
      <label class="label py-0">
        <span class="label-text">Search By Name</span>
      </label>
      <app-searchable-input
        [title]="'Type here to search'"
        urlToSearch="items/search"
        [formatter]="referrerSearchResultFormatter"
        (onSelect)="onSelectReferrerId($event)"
        [showLabel]="false"
        [showSmForm]="false">
      </app-searchable-input>
    </div>

  </div>

  <!--Show number of Total Elements-->
  <div class="m-auto w-75 mb-2 d-flex justify-content-between">
    <div>
      <button class="text-sm-start mt-10 bg-accent rounded px-2">
        Total : {{ totalElements }}
      </button>
    </div>

    <div class="d-flex gap-1">
      <button
        class="btn btn-sm btn-secondary btn-outline mt-10 border-b-pink-500"
        (click)="showStats()"
      >
        <i class="far fa-chart-bar"></i>
        {{showStatsFlag ? "Hide Stats" : "Show Stats"}}
      </button>
      <button
        class="btn btn-sm btn-accent btn-outline mt-10 border-accent"
        (click)="getFilterSearchItems()"
      >
        <i class="fas fa-search"></i>
        Search
      </button>
      <button
        class="btn btn-sm btn-primary btn-outline mt-10"
        (click)="openCreateModal()"
      >
        <i class="fas fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <div class="overflow-auto mb-10 w-75 m-auto"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollUpDistance]="1.5"
       [infiniteScrollThrottle]="300"
       (scrolled)="onScroll()">

    <table class="table table-secondary table-hover table-striped">
      <thead class="outline outline-2 outline-black">
      <tr class="text-center text-lg">
        <th>Sl No</th>
        <th class="">Name</th>
        <th class="">Price</th>
        <th class="">Start Date</th>
        <th class="">End Date</th>
        <th class="">Days Used</th>
        <th class="text-center col-2">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (item of items; track item; let i = $index){
          <tr class="hover:bg-base-200 text-center mt-10">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>৳{{ item.price | number:'1.0-0' }}</td>
            <td>{{ item.createdDateTime | date }}</td>
            <td>{{ item.endDateTime? (item.endDateTime | date) : "-" }}</td>
            <td>{{ getTotalDaysUptoNow(item) }}</td>
            <td class="col d-flex gap-1 justify-content-end">
              <button
                class="btn btn-neutral btn-sm text-white"
                (click)="openDetailsModal(item)"
              >
                <i
                  class="fas fa-eye"
                  style="color: #B197FC;"
                  [ngbTooltip]="'View Details'"
                ></i>
              </button>
              <button
                class="btn btn-warning btn-sm border-0"
                (click)="openUpdateModal(item)"
                [disabled]="item.endDateTime != null"
              >
                <i
                  class="fas fa-ban"
                  style="color: #000000;"
                  [ngbTooltip]="'Stop day count'"
                ></i>
              </button>
              <button
                class="btn btn-sm btn-error text- white"
                (click)="openDeleteModal(item)"
              >
                <i
                  class="fas fa-trash-alt"
                  style="color: #bd021f;"
                  [ngbTooltip]="'Delete Item'"
                ></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- Loading Indicator -->
    <div *ngIf="loading" class="text-center py-4">
      <span class="loading loading-spinner"></span>Loading...
    </div>
  </div>


</div>

<!--Create Item Modal-->
<dialog id="create-item-modal" class="modal">
  <div class="modal-box">
    <!--get id from the editFrom-->
    @if (editForm.controls['id'].value) {
      <h2 class="text-lg font-bold text-center">Update Item</h2>
    } @else {
      <h2 class="text-lg font-bold text-center">Create a New Item</h2>
    }
    <form [formGroup]="editForm" (ngSubmit)="saveItem()">
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Name</span>
        </label>
        <!-- Bind the email input to the form control -->
        <input
          type="text"
          formControlName="name"
          class="input input-bordered col-8 focus:outline-none focus:ring-0"
        />
        <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
          <small class="text-red-500">Please enter a valid name.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Price</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="number"
          formControlName="price"
          class="input input-bordered col-8"
        />
        <div *ngIf="editForm.get('price')?.invalid && editForm.get('price')?.touched">
          <small class="text-red-500">Price is required.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Start Date</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="datetime-local"
          formControlName="createdDateTime"
          class="input input-bordered col-8"
        />
        <div *ngIf="editForm.get('createdDateTime')?.invalid && editForm.get('createdDateTime')?.touched">
          <small class="text-red-500">Date is required.</small>
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">End Date</span>
        </label>
        <!-- Bind the username input to the form control -->
        <input
          type="datetime-local"
          formControlName="endDateTime"
          class="input input-bordered col-8"
        />
      </div>
      <div class="d-flex gap-3 mt-3">
        <label class="label col-2">
          <span class="label-text">Image</span>
        </label>
        <!-- Bind the username input to the form control -->
        <div class="col-8">
          <input type="file" formControlName="image" class="input-bordered form-control"/>
        </div>
        <div *ngIf="editForm.get('image')?.invalid && editForm.get('image')?.touched">
          <small class="text-red-500">Image is required.</small>
        </div>
      </div>
      <div class="modal-action">
        <button type="submit" class="btn" [disabled]="editForm.invalid">Save</button>
        <button type="button" class="btn" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
</dialog>


<!-- DaisyUI Modal inside the same component -->
<dialog #detailsModal class="modal">
  <div class="modal-box">
    <h2 class="text-lg font-bold text-center">Item Details</h2>

    @if (selectedItem) {
      <div class="grid grid-cols-2 gap-3 mt-3">
        <label class="label"><span class="label-text">Name:</span></label>
        <span class="label-text">{{ selectedItem.name }}</span>

        <label class="label"><span class="label-text">Price:</span></label>
        <span class="label-text">{{ selectedItem.price }}</span>

        <label class="label"><span class="label-text">Created Date:</span></label>
        <span class="label-text">{{ selectedItem.createdDateTime | date }}</span>

        @if (selectedItem.endDateTime!=null){
          <label class="label"><span class="label-text">End Date:</span></label>
          <span class="label-text">{{ selectedItem.endDateTime | date }}</span>
        }

        <label class="label"><span class="label-text">Day Used</span></label>
        <span class="label-text">{{getTotalDaysUptoNow(selectedItem)}}</span>
      </div>
    }

    <div class="modal-action">
      <button type="button" class="btn" (click)="closeDetailsModal()">Close</button>
    </div>
  </div>
</dialog>
