<div class="h-screen bg-blue-500 py-20 px-3">
  <div class="container mx-auto">
    <div class="max-w-sm mx-auto md:max-w-lg">
      <div class="w-full">
        <div class="bg-white h-64 py-3 rounded text-center">
          <h1 class="text-2xl font-bold">OTP Verification</h1>
          <div class="flex flex-col mt-4">
            <span>Enter the OTP you received at</span>
            <span class="font-bold">+91 ******876</span>
          </div>

          <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="first" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="second" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="third" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
            <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
          </div>

          <div class="flex justify-center text-center mt-5">
            <a class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer"><span class="font-bold">Resend OTP</span><i class='bx bx-caret-right ml-1'></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Create a daisyUI form for taking OTP as input-->
<div class="flex justify-center mt-5">
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <form [formGroup]="otpEditForm" (ngSubmit)="onSubmit()" class="card-body">
      <div class="form-control border-0">
        <label class="label">
          <span class="label-text">OTP</span>
        </label>
        <input type="text" formControlName="otp" placeholder="Enter your OTP" class="input input-bordered"/>

        <!--If OTP is less than 6 characters or more than 6 characters-->
        @if (otpEditForm.get('otp')?.hasError('minlength') && otpEditForm.get('otp')?.touched){
          <small class="text-red-500">OTP must be 6 characters.</small>
        }
        @if (otpEditForm.get('otp')?.hasError('maxlength') && otpEditForm.get('otp')?.touched){
          <small class="text-red-500">OTP must be 6 characters.</small>
        }
      </div>
      <div class="form-control mt-6 border-0">
        <button [disabled]="otpEditForm.invalid" type="submit" class="btn btn-primary">Verify</button>
      </div>
    </form>
  </div>
</div>
