<!--<p>dashboard works!</p>
<button (click)="loadUsers()">Load Data</button>-->
@if (allUsers.length > 0){
  <!--<div class="overflow-x-auto">
    <table class="table">
      &lt;!&ndash; head &ndash;&gt;
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr class="bg-base-200" *ngFor="let user of allUsers">
        <th>{{user.email}}</th>
        <td>{{user.username}}</td>
      </tr>
      </tbody>
    </table>
  </div>-->
  <div class="overflow-x-auto mt-10 mb-10 " style="width: 65vw; margin-left: auto; margin-right: auto">
    <table class="table w-full table-zebra">
      <!-- Table Head -->
      <thead>
      <tr class="bg-base-200">
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
      <tr class="hover:bg-base-200" *ngFor="let user of allUsers">
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
      </tr>
      </tbody>
    </table>
  </div>

}
