<!--Create a daisyUi form for taking input of username and email -->
<div class="hero mt-3">
  <div class="hero-content flex-col">
    <div class="text-center">
      <h3 class="text-4xl font-bold">Forget your Password?</h3>
      <p class="text-xl py-6">Verify your identification.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <form [formGroup]="resetPasswordEditForm" (ngSubmit)="onSubmit()" class="card-body">

        <div class="form-control border-0">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="email" formControlName="username" placeholder="Enter your username" class="input input-bordered" />

          @if (resetPasswordEditForm.get('username')?.invalid && resetPasswordEditForm.get('username')?.touched) {
            <small class="text-red-500">Username is required.</small>
          }
        </div>


        <div class="form-control border-0">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" formControlName="email" placeholder="Enter your email" class="input input-bordered" />

          @if (resetPasswordEditForm.get('email')?.invalid && resetPasswordEditForm.get('email')?.touched){
            <small class="text-red-500">Please enter a valid email.</small>
          }
        </div>
        <div class="form-control mt-6 border-0">
          <button [disabled]="resetPasswordEditForm.invalid" type="submit" class="btn btn-primary">Verify</button>
        </div>
      </form>
    </div>
  </div>
</div>

